/* Canvas */

#canvas {
  background: black;
  border: solid #ADD8E6 2px;
  height: 500px;
  width: 500px;
}

/* Line */

.line-mid-point {
  position: absolute;
}

.line {
  border-bottom: solid #ADD8E6 1px;
  position: absolute;
}

/* Point */

.point-center {
  position: absolute;
}

.point-display {
  border: solid #ADD8E6 1px;
  height: 5px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 5px;
  background-color: inherit;
  transition: background-color 0.5s;
}

.point-display:hover {
  background-color: white;
}
