body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Canvas */

#canvas {
  background: black;
  border: solid #ADD8E6 2px;
  height: 500px;
  width: 500px;
}

/* Line */

.line-mid-point {
  border: solid white 1px;
  height: 0;
  position: absolute;
  width: 0;
}

.line {
  border-bottom: solid #ADD8E6 1px;
  position: absolute;
}

/* Point */

.point-center {
  position: absolute;
}

.point-display {
  border: solid #ADD8E6 1px;
  height: 5px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 5px;
}
